$fa-font-path: "webfonts";
@import "fontawesome-free-5.15.4-web/scss/fontawesome.scss";
@import "fontawesome-free-5.15.4-web/scss/regular.scss";
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

* {
  margin: 0%;
  padding: 0%;
}

:root {
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Rubik";
}
